In [6]:
n=int(input("enter a number:"))
for i in range(1,n+1):
  if i%2==0:
    print(i)

2
4
6
8
10
12

In [2]:
n=10
for i in range(1,n+1,2):
  print(i)

1
3
5
7
9

In [1]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
    if i%2==0:
        print(i)

2
4
6
8
10

In [ ]:
n=10
for i in range(n+1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
n=int(input("enter the number"))
sum=0
for i in range (1,n+1):
  sum+=i

print(sum)

15

In [9]:
row=int(input())
for i in range(row+1):
  print("*"*i)

*
**
***
****
*****
******
*******

In [13]:
row=int(input())
for i in range(1,row+1):
  print(" " * (row-i) + "*" * (2*i-1))

     *
    ***
   *****
  *******
 *********
***********

In [19]:
n=5
while n!=0:
  print("Count down:",n)
  if n==2:
    break
  n-=1
print("loop ended")

Count down: 5
Count down: 4
Count down: 3
Count down: 2
loop ended

In [27]:
l1=['nirmal','aadi','johns','amal']
l2=['hii','hello','welcome']
for i in l2:
  for j in l1:
    if i=='hello' and j=='aadi':
      break
    if i=='welcome' and j=='johns':
      continue
  # if i=='hii' and j=='aadi':
  #   break
    print(i,j)

hii nirmal
hii aadi
hii johns
hii amal
hello nirmal
welcome nirmal
welcome aadi
welcome amal

In [23]:
a=12
for i in range(a):
  pass
print("hello")

hello

In [34]:
a=int(input())
if a>=10:
  print("greater than or equal to 10")
  if a%2==0:
    print("its also even")
  else:
    print("its also odd")
else:
  print("less than 10")

greater than or equal to 10
its also odd

In [ ]:
num=int(input())
if num%2==0:
  if num%3==0:
    print("divisible by bothe 2 and 3")
  else:
    print("divisible by 2 only")
elif num%3==0:
  print("divisible by 3")

else:
  print("not by 3 and 2")

divisible by 3