# Assignment-2

1.Find Even Number In Python Using For Loop

In [2]:
num=int(input("enter a no"))
for i in range(1,num+1):
  if i%2==0:
    print(i)

2
4
6
8
10
12

2.Sum of First N Natural Numbers

In [19]:
n=int(input("enter the number"))
print("No: ",n)
sum=0
for i in range (1,n+1):
  sum+=i

print("Sum: ",sum)

No:  17
Sum:  153

3.Print Each Character in a String

In [21]:
a=input("enter a string")
print(a)
for i in a:
  print(i)

Nirmal
N
i
r
m
a
l

4.Print multiplication table using for loop

In [22]:
a=int(input("enter the number"))
for i in range (1,11):
  print(a,"*",i,"=",a*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

5 Using While loop

In [23]:
a=int(input("enter the number"))
i=1
while i<=10:
  print(a,"*",i,"=",a*i)
  i+=1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

6.Write program to print any two * patterns

In [24]:
row=int(input())
for i in range(1,row+1):
  print(" " * (row-i) + "*" * (2*i-1))

    *
   ***
  *****
 *******
*********

In [27]:
rows=int(input())
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))
    
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

7.check prime or not

In [29]:
num=int(input())
print("Number: ",num)
is_prime=True

if num<=1:
  is_prime=False
else:
  for i in range(2,num):
    if num%i==0:
      is_prime=False
      break

if is_prime:
  print("prime")
else:
  print("not prime")

Number:  17
prime

8.Python program to find the factorial of a number provided by the user.

In [30]:
num=int(input("enter a no"))
fact=1
for i in range(num,0,-1):
  fact*=i
print("factorial: ",fact)

factorial:  479001600

9.We will the input() function to ask the user to enter an integer and that integer will only be appended to list if it's even.

In [34]:
a=int(input())

l1=[]
if a%2==0:
  l1.append(a)
  print("appended")
else:
  print("not an even no therefore not appended")

print(l1)

appended
[44]

10.Print first 10 terms in fibonacci series

In [9]:
n = 10
a, b = 0, 1
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [11]:
n = 10
a, b = 0, 1
for i in range(n):
    print(a, end=" ")
    c = a + b
    a = b
    b = c

0 1 1 2 3 5 8 13 21 34