# list

index starts from 0
l1[start:end] #slicing

In [ ]:
l1=[20,'nirmal',24,24,['aby',3+0j]]
print(l1)
print("accessing index: ",l1[1])

# for i in l1:
#   print(i)

# l1[1]='changed'
# print(l1[1])

print(type(l1))
print(len(l1))

#slicing

print(l1[2:4])

[20, 'nirmal', 24, 24, ['aby', (3+0j)]]
accessing index:  nirmal
20
nirmal
24
24
['aby', (3+0j)]
changed
<class 'list'>
5
[24, 24]

In [21]:
s={1,'nirmal',45,88,79.55,79.55}
print(s)
for i in s:
  print(i)
print(type(s))

{1, 'nirmal', 88, 45, 79.55}
1
nirmal
88
45
79.55
<class 'set'>

In [23]:
t=(1,2,3,4,5,5)
print(t[0])
print(t)
for i in t:
  print(i)

print("index: ",t.index(3))
print(type(t))

1
(1, 2, 3, 4, 5, 5)
1
2
3
4
5
5
index:  2
<class 'tuple'>

In [24]:
d={'a':1,'b':2,'c':3}
print(d)
for i in d:
  print(i)
d['a']=2
print(d)
for key,items in d.items():
  print(key, ":",items)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
a
b
c
{'a': 2, 'b': 2, 'c': 3}
a : 2
b : 2
c : 3
<class 'dict'>

In [ ]:
l2=[1,2,3,8,10,'cijo','nirmal','rishana']
print(l2[4:])
print(l2[:6])
print(l2[3:7])
print(l2[::])

print(l2[-5:-1])

print(l2[7:3:-1])

l2[-2]='adithya'
print(l2)

l2[1:5]=['replaced',3]
print(l2)
l2.remove('rishana')
print(l2)

del l2[-1]
print(l2)

l2.pop(1)
print(l2)

[10, 'cijo', 'nirmal', 'rishana']
[1, 2, 3, 8, 10, 'cijo']
[8, 10, 'cijo', 'nirmal']
[1, 2, 3, 8, 10, 'cijo', 'nirmal', 'rishana']
[8, 10, 'cijo', 'nirmal']
['rishana', 'nirmal', 'cijo', 10]
[1, 2, 3, 8, 10, 'cijo', 'adithya', 'rishana']
[1, 'replaced', 3, 'cijo', 'adithya', 'rishana']
[1, 'replaced', 3, 'cijo', 'adithya']
[1, 'replaced', 3, 'cijo']
[1, 3, 'cijo']

In [42]:
l1=[1,2,3,'nirmal','cijo',10]
l1[2:4]=['hii','adithya']
print(l1)

[1, 2, 'hii', 'adithya', 'cijo', 10]

In [52]:
l3=[1,2,3,4,5]
l4=[6,7,8,9,10]
print(l3*2)
print(l3+l4)
print(6 in l4)
print(11 in l3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
True
False

In [ ]:
l1=[1,2,3,4,'cijo']
l1.append('nirmal')
l1.append(['adithya','rishana'])
print(l1)

l1.extend(['adithya','rishana'])
print(l1)
l1.insert(2,'second ele')

l1.remove(l1[7])
print(l1)

l1.pop(1)
print(l1)
l1.clear()
print(l1)
del l1

[1, 2, 3, 4, 'cijo', 'nirmal', ['adithya', 'rishana']]
[1, 2, 3, 4, 'cijo', 'nirmal', ['adithya', 'rishana'], 'adithya', 'rishana']
[1, 2, 'second ele', 3, 4, 'cijo', 'nirmal', 'adithya', 'rishana']
[1, 'second ele', 3, 4, 'cijo', 'nirmal', 'adithya', 'rishana']
[]

In [ ]:
l1=[30,20,10,11]
print(max(l1))
print(min(l1))

l2=['nirmal','str','abcd']  #compare ASCII Value
print(max(l2))

30
10
str

In [77]:
l2=['nirmal','str','abcd']
print(min(l2))

abcd

In [ ]:
l1=[3,6,1,77,99,22]
l2=['ball','cat','apple']
l1.sort()
print(l1)

# l2=sorted(l1)
# print(l2)

l1.sort(reverse=True)
print(l1)

l2.sort()
print(l2)

[1, 3, 6, 22, 77, 99]
[99, 77, 22, 6, 3, 1]
['apple', 'ball', 'cat']

In [4]:
l1=[1,2,3,4,5]
l1.reverse()
print(l1)

[5, 4, 3, 2, 1]

In [ ]:
l2=[2,3,4]
l1=l2.copy()

[2, 3, 4]

In [9]:
import copy
l1=[1,2,3,4,5,6]
print(l1)
l2=copy.copy(l1)
print(l2)
l2[0]=100
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[100, 2, 3, 4, 5, 6]

In [10]:
import copy
l1=[1,2,3,4,5,6]
print(l1)
l2=copy.deepcopy(l1)
print(l2)
l2[0]=100
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[100, 2, 3, 4, 5, 6]

In [ ]:
import copy
l1=[1,2,3,4,5,6]
print(l1)
l2=copy.copy(l1)
print(l2)
l2[0]=100
print(l2)
print(l1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[100, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [5]:
l1=[1,2,4,5,5,6,7,5,6]
print(l1)
l2=[]
for i in l1:
  if i not in l2:
    l2.append(i)

print(l2)

[1, 2, 4, 5, 5, 6, 7, 5, 6]
[1, 2, 4, 5, 6, 7]

# Assignment

In [16]:
l1=[1,2,3,4,6,8,9]
l2=[3,2,7,11,9]
l3=[]
for i in l1:
  for j in l2:
    if i==j:
      l3.append(i)
      break
print("common exists")
print("common ele:",l3)

common exists
common ele: [2, 3, 9]

In [18]:
t = (1,2,3,4,5)
print(len(t))
print(t[0])

print(t[2:5])

temp_list = list(t)
temp_list[0] = 100 
t2 = tuple(temp_list)
print(t2)

print(2 in t)

5
1
(3, 4, 5)
(100, 2, 3, 4, 5)
True

In [17]:
t=(1,2,3,4)
print(2 in t)

True

In [19]:
t1=(1,2,3,4)
t2=(3,4,5,6)
print(t1+t2)

(1, 2, 3, 4, 3, 4, 5, 6)

In [20]:
l1=[1,2,2,3,5,6,7,7,9,1]
l2=list(set(l1))
print(l2)

[1, 2, 3, 5, 6, 7, 9]

In [30]:
s1={1,2,3,4,6}
print(type(s1))
print(len(s1))
s1.add(9)
s1.update([11,10])
print(s1)
# print(s1[0])

<class 'set'>
5
{1, 2, 3, 4, 6, 9, 10, 11}

In [ ]:
s1={1,2,3,4,5,6,7,8,9}
print(s1)
s1.remove(1)
print(s1)

s1.discard(3)
print(s1)
s1.pop()
print(s1)

s1.discard(11)
s1.clear()
print(s1)
del s1
# print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 4, 5, 6, 7, 8, 9}
{2, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
set()

In [46]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}
a|b
print(a.union(b))
print(a.intersection(b))
print(a-b)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}
{1, 2}

In [48]:
s1={1,2,3,4}
s2={1,2,3,4,5}
print(s1-s2)
print(s2-s1)
print(s2.difference(s1))

set()
{5}
{5}

In [55]:
s1={12,11,4,6,1}
print(s1)
l1=sorted(s1)
s2=set(l1)
s2
str1='cdba'
str2=sorted(str1)
print(str1)

{1, 4, 6, 11, 12}
cdba

In [59]:
s1={1,2,3,4,5,9}
s2={2,5,9}
print(s2.issubset(s1))
print(s1.issuperset(s2))
print(s1.isdisjoint(s2))

True
True
False