In [15]:
s="I,am Nirmal"
s1=s.upper()
s2=s.lower()
print(s2)
print(s1)
s3=s.split("a")
print(s3)
' '.join(s3)

i,am nirmal
I,AM NIRMAL
['I,', 'm Nirm', 'l']

'I, m Nirm l'

In [18]:
s="Happy New Year"
s.replace("Happy","Brilliant")

'Brilliant New Year'

In [5]:
def glob(n):

  f=20
  print(f)
  n=n+1
  print(n)

f=10
glob(5)
print(f)

20
6
10

In [ ]:
def fact(n):
  if n==1 or n==0:
    return 1
  else:
    return n*fact(n-1)
  
num=int(input())
print(num)
fact(num)

7

5040

In [ ]:
def outer_fn():
  a=50
  def inner_fn():
    a=15
    print("a=",a)

  inner_fn()
  print("a=",50)

a=10
outer_fn()
print("a=",a)

a= 15
a= 50
a= 10

In [21]:
def outer_fn():
  a=50
  def inner_fn():
    a=25
    print("a=",a)
  inner_fn()
  print(a)

a=15
outer_fn()
print("a=",a)

a= 25
50
a= 15

In [18]:
outer_fn()

a= 25

In [31]:
s='abc'
try:
  int(s)
except Exception as e:
  print(e)
  pass

invalid literal for int() with base 10: 'abc'

In [36]:
try:
  x=int(input())
  print(x*10)
except ValueError as e:
  print(e)
  print("enter an integer value: ")

invalid literal for int() with base 10: 'abc'
enter an integer value:

In [45]:
f=open('example.txt')

In [ ]:
C:\datascience\python\Daily_Class\example.txt

In [ ]:
open()

In [ ]:
f=open('example.txt','a+')
# f.readlines()

In [14]:
f.readlines()

['Hii Nirmal\n', 'Coolie Movie flopped!\n', 'Waste of Money']

In [ ]:
f.write('hii')

3

In [23]:
f.write('hello')

5

In [30]:
f.write('hiii')

4

In [32]:
import os
os.listdir()

['datatypes.ipynb',
 'dict.ipynb',
 'example.txt',
 'function.ipynb',
 'loops.ipynb',
 'sample.ipynb',
 'variables.ipynb']

In [3]:
import os
os.getcwd()
os.listdir(os.getcwd())

['datatypes.ipynb',
 'dict.ipynb',
 'example.txt',
 'fileop.ipynb',
 'function.ipynb',
 'loops.ipynb',
 'variables.ipynb']