In [ ]:
num=input()
for i in num:

In [9]:
a=5
b=6
print("i am five",a,"i am six",b)

i am five 5 i am six 6

In [8]:
print(a)

2

In [7]:
a=2
print(a)

2

In [5]:
a=3
print(a)

3

In [3]:
# print("hello")
print("hii")

hii

In [5]:
name='nirmal'
name
print(type(name))

<class 'str'>

In [7]:
para='''my name is
nirmal kr'''
print(para)

my name is
nirmal kr

# typecasting

In [9]:
a=6
b=6.66
c='nirmal'
d=3+0j
e=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [10]:
float(a)

6.0

In [12]:
int(e)
print(float(e))

1.0

In [13]:
complex(a)

(6+0j)

In [14]:
complex(3,5)

(3+5j)

# arithementic operators

In [ ]:
x=13
y=6
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y) #floor div
print(x**y) #exp
print(x%y)

19
7
78
2.1666666666666665
2
4826809
1

# concatenation

In [21]:
name='nirmal'
sur='kr'
print(name +"   "+ sur)

nirmal   kr

In [23]:
a=7
b=9
print(a==b)
print(b>a)
print(a!=b)
print(a<=b)

False
True
True
True

In [25]:
a=5
a+=1
print(a)

6

# logical op

In [29]:
a=19
b=7
c=7
print(a>b and b>10)
print(a>b or b>10)
print(not(a>b or b>10))

False
True
False

In [33]:
l=[12,13,18,19,21,'nirmal']
21 in l
print('nirmal' in l)

True

# identity op

In [35]:
x=10
y=20
z=10
print(x is y)
print(x is z)
print( x is not z)

False
True
False

# conditional statements

In [40]:
a=6
b=5

if(a>b):
  print("a is greater than b")
elif (a<b):
  print("a is less than b")
else:
  print("a is equ to b")

a is greater than b

In [43]:
a=int(input("enter the no"))
if a>0:
  print(a**2)
else:
  print(a)

-2

not square

Debugging can be started in the [Debug View](command:workbench.view.debug) or by using the [Start Debugging Command](command:workbench.action.debug.run).

In [ ]:
{
  "configurations": [
    {
      "type": "debugpy",
      "request": "launch",
      "name": "Launch Jupyter Notebook",
      "program": "${workspaceFolder}/${input:notebookFile}",
      "console": "integratedTerminal"
    }
  ],
  "inputs": [
    {
      "type": "pickString",
      "id": "notebookFile",
      "description": "Select the Jupyter notebook to debug",
      "options": [
        "python/i.ipynb",
        "python/new.ipynb",
        "python/variables.ipynb"
      ]
    }
  ]
}

Debugging can be started in the [Debug View](command:workbench.view.debug) or by using the [Start Debugging Command](command:workbench.action.debug.run).

Debugging can be started in the [Debug View](command:workbench.view.debug) or by using the [Start Debugging Command](command:workbench.action.debug.run).

In [ ]:
import numpy as np
np.array

In [1]:

a=int(input("enter the length"))
b=int(input("enter the breadth"))
if(a==b):
  print("its a square")
else:
  print("not a square")

its a square

# bonus calc

In [4]:
salary=int(input("enter the salary"))
year=int(input("enter your years of service"))
net_bonus=0
if year>5:
  net_bonus+=salary*.05
else:
  print("not eligible")

if year>5:
  print(net_bonus)

not eligible

In [6]:
num=int(input("enter a number "))
if num%2==0:
  print("even")
else:
  print("odd")

odd

# largest of 2

In [7]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
if a>b:
  print("first no is greater")
elif a<b:
  print("Second no is greater")
else:
  print("both are equal")

both are equal

# grade card

In [ ]:
marks=float(input("enter the marks"))
if marks <25:
  print("Grade:F")
elif 25<=marks<=45:
  print("Grade:E")
elif 45<=marks<=50:
  print("Grade:D")
elif 50<=marks<=60:
  print("Grade:C")
elif 60<=marks<=80:
  print("Grade:B")
elif marks>80:
  print("Grade:A")
else:
  print("invalid.Re-enter")

Grade:B

# largest of 3

In [10]:
a=int(input("enter age of person a" ))
b=int(input("enter age of person b" ))
c=int(input("enter age of person c" ))
if a>=b and a>=c:
  print(" person a is older: ",a)
elif b>=c and b>=a:
  print("person b is older: ",b)
elif c>=b and c>=a:
  print("person c is older: ",c)

person c is older:  99

# attendance

In [12]:
print("Student")
c1=int(input("enter the total classes held"))
c2=int(input("classes attended"))
percent=(c2/c1)*100
print("class percentage: ",percent)
if percent>=75:
  print("Allowed to sit in class")
else:
  print("not allowed,you are done!")

Student
class percentage:  72.0
not allowed,you are done!